$principal-color-text: #99f7e2;
$header-and-footer-color: #7452a3;

/* =============================== */
/* ============ FONTS ============ */
/* =============================== */

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700&display=swap');

/* =============================== */
/* ============ FONTS FAMILY ============ */
/* =============================== */
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Libre Baskerville', serif;


