$main-color-text: #99f7e2;
$header-and-footer-color: #7452a3;
$titles-font: 'Libre Baskerville', serif;
$text-font: 'Source Sans Pro', sans-serif;

/* =============================== */
/* ============ FONTS ============ */
/* =============================== */

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700&display=swap');

/* =============================== */
/* ============= CSS ============= */
/* =============================== */


body {
    margin: 0;
    padding: 0;
    background-color: $header-and-footer-color;
}
header {
    color: $main-color-text;
    nav {
        display: flex;
        justify-content: space-between;
        margin: 40px 60px;
        h1 {
            font-family: $text-font;
            font-size: 36px;
            font-weight: 600;
        }
        .menu-icon {
            width:36px;
            height: auto;
        }
    }
    .header-info {
        display: flex;
        margin: 60px 40px;
       
        .main-info {
            display: flex;
            flex-direction: column;
            flex: 2;

            h2 {
                font-family: $titles-font;
                font-size: 64px;
                line-height: 1.5;
            }
            p {
                font-family: $text-font;
                font-size: 18px;
                font-weight: 300;
                line-height: 2;
                color: #fff;
            }
        }

        .slider-icon {
            flex: 1;
            width: 12px;
            height: 155px;
        }

    }
}


